# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production build
build/
dist/

# Environment Variables
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
